<!DOCTYPE html>
<html lang="en">
<!--이파일과 login.html, register.html 각각을 flask jinja rendering engine이 이어 붙인다 -->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>atra Login</title>

    <!--<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">-->

</head>

<body>

    {% block body %}{% endblock %}

    <script src="/static/lib/jquery/jquery-2.1.4.js"></script>
    <!--<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>-->

</body>

</html>